/**
 * --------------------------------------------------------------------------------
 * 4.0 - Content
 * --------------------------------------------------------------------------------
 */

.pgl-content{
    img{
        max-width: 100%;
    }
    >.section-element{
        margin-bottom: @grid-gutter-width/3*4;
        &:last-child{
            margin-bottom:0;
        }
    }
}

.category-image{
    margin-bottom: @margin-base-horizontal*2;
}
.category-info{
    .page-title{
        margin-top: 0;
        margin-bottom: @margin-base-vertical*2;
    }
    .term-description{
        line-height: 25px;
        margin-bottom: @margin-base-vertical*2;
        text-align: justify;
    }
    .orderby{
        .border-radius(0px);
    }
}


.row-full{
    >.row{
        margin-left: 0;
        margin-right: 0;
        >[class*="col-"]{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.container-row{
    padding: 40px @grid-gutter-width 0;
}
.post{
	&.post-medium{
		.blog-meta{
			padding-bottom: 15px;
		}
	}
	.post-image{
		img{
			max-width: 100%;
		}
	}
}

.visual-inner{
	.blog-title{
		font-size: 1em;
		text-transform: uppercase;
		margin-top: 10px;
	}
}

.single-container{
	.post-content{
		color:#555;
		font-size: 1.1em;
		font-weight: 300;
		h1,h2,h3,h4,h5,h6{
			color:@text-color;
		}
		p{
			line-height: 1.7;
		}
	}
}

h5.entry-title{
	font-size: 13px;
	font-weight: 700;
}

.related-post-content{
	margin-bottom: 30px;
	a{
		color:@text-color;
		&:hover{
			color:@link-color;
		}
	}
	.post-thumb{
		margin-bottom: 0;
	}
}

.post-thumb{
	margin-bottom: @grid-gutter-width;
	img{
		width: 100%;
	}
	a.post-img-1{
		overflow: hidden;
		display: block;
		.transition(all 600ms);
		img{
			.transition(all 600ms);
		}
		&:hover{
			background: @main-color;
			img{
				.scale(1.3);
				.opacity(0.6);
			}
		}
	}
}

.blog-style2{
	.post-thumb{
		a{
			display: block;
			position: relative;
			overflow: hidden;
			img{
				.transition(all 500ms);
			}
			&:before{
				position: absolute;
				content: "";
				display: block;
				border: 1px solid #fff;
				top:5px;
				left:5px;
				bottom:5px;
				right:5px;
				// .position(5px,5px);
				.transition(all 500ms);
				z-index: 1;
			}
			&:hover{
				img{
					.scale(1.2);
					.opacity(0.7);
				}
				&:before{
					.scale(0.5);
					.opacity(0);
				}
			}
		}
	}
	.title{
		margin:20px 0;
		font-size: 15px; /* Approximation due to font substitution */
		font-weight: 700;
		line-height: 1.333; /* Approximation due to font substitution */
		text-transform: uppercase;
	}
	.content{
		font-size: 14px; /* Approximation due to font substitution */
		font-weight: 400;
		line-height: 1.429; /* Approximation due to font substitution */
		margin-bottom: 20px;
	}
}

.blog-container{
	position: relative;
	&:last-child{
		.blog-container-inner{
			border:0;
			margin-bottom: 0;
			padding-bottom: 20px;
		}
	}
	&.blog-mini{
		.video-responsive,.audio-responsive{
			padding-bottom: 100%;
			margin-bottom: 0;
		}
		.post-thumb{
			margin-bottom: 0;
		}
	}
	.blog-container-inner{
		margin-bottom: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid @border-color;
	}
	.blog-thumb{
		margin-bottom: 30px;
		img{
			width: 100%;
		}
	}
	.blog-content{
		margin-bottom: 30px;
	}
	&.blog-visual{
		&.blog-visual-2{
			.meta-heading{
				margin-left: 0;
			}
		}
		.blog-meta{
			width: 100%;
			float: none!important;
		}
		.blog-container-inner{
			margin:0;
			border:0;
			padding: 0;
		}
		.post-thumb,.status-responsive{
			margin-bottom: 0;
		}
		.meta-date{
			>span{
				.size(65px,65px);
				background: @main-color;
				.border-radius(500px);
				float: right;
				display: table;
				color:#fff;
				>span{
					text-align: center;
					display: table-cell;
					vertical-align: middle;
				}
				.d{
					font-size: 1.5em;
					line-height: 1;
					vertical-align: bottom;
				}
				.my{
					font-size: 0.9em;
					vertical-align: top;
				}
			}
		}
		.meta-heading{
			margin-bottom: 20px;
			margin-left: 80px;
			.blog-title{
				font-size: 1.5em;
			}
			.visual-meta{
				list-style: none;
				padding: 0;
				color:#aaa;
				li{
					display: inline-block;
					margin-right: 10px;
					&:last-child{
						margin-right: 0;
					}
					.fa{
						padding-right: 3px;
					}
				}
				a{
					color:@text-color;
					&:hover{
						color:@link-color;
						text-decoration: underline;
					}
				}
			}
		}
	}
	&.blog-masonry{

		.blog-meta{
			width: 100%;
			float: none!important;
		}
		.blog-container-inner{
			margin:0;
			border:0;
			padding: 0;
			border:1px solid @border-color;
			margin-bottom: 30px;
		}
		.post-thumb,.status-responsive{
			margin-bottom: 0;
		}
		.masonry-inner{
			padding: 20px 20px 0;
		}
		.meta-date{
			>span{
				.size(65px,65px);
				background: @main-color;
				.border-radius(500px);
				float: right;
				display: table;
				color:#fff;
				>span{
					text-align: center;
					display: table-cell;
					vertical-align: middle;
				}
				.d{
					font-size: 1.5em;
					line-height: 1;
					vertical-align: bottom;
				}
				.my{
					font-size: 0.9em;
					vertical-align: top;
				}
			}
		}
		.meta-heading{
			margin-bottom: 20px;
			margin-left: 80px;
			.blog-title{
				font-size: 1.5em;
			}
			.masonry-meta{
				list-style: none;
				padding: 0;
				color:#aaa;
				li{
					display: inline-block;
					margin-right: 10px;
					&:last-child{
						margin-right: 0;
					}
					.fa{
						padding-right: 3px;
					}
				}
				a{
					color:@text-color;
					&:hover{
						color:@link-color;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.blog-title{
	margin-top: 0;
	font-size: 2.6em;
	font-weight: 600;
	a{
		color:@title-color;
		line-height: 1.6;
		&:hover{
			color:@link-hover-color;
		}
	}
	.sticky{
		font-size: 0.3589em;
		text-transform: uppercase;
		font-weight: 600;
		padding: 10px;
		background: #6cd06c;
		position: relative;
		color: #fff;
		&:after{
			content: "";
			display: block;
			position: absolute;
			top:100%;
			right: 0;
			border:4px solid #6cd06c;
			border-left-color: transparent;
			border-bottom-color: transparent;
		}
	}
}

.blog-meta{
	color: #aaaaaa;
	position: relative;
	margin-bottom: 15px;
	>span{
		display: inline-block;
		margin-right: 15px;
	}
}


.status-responsive{
	padding: 45px 35px;
	color:#fff;
	background: #333333;
	font-size: 1.2em;
	font-weight: 300;
	margin-bottom: @grid-gutter-width;
}

/* Post detail */
.entry-title{
	font-size: 1.6em;
	font-weight: 600;
	line-height: 1.25;
	margin: 10px 0 30px;
}

.title{
	h2{
		font-size: @post-title-font-size;
		color:#000;
	}
}

h4.heading{
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}


.entry-meta{
	span{
	}
}

.post-share{
	padding: 10px 15px;
	margin: 40px 0;
	background: #f1f1f1;
	h4{
		margin: 15px 0 ;
	}
	.social-networks{
		margin:7px 0;
		float: right;
		li{
			float: left;
			a{
				margin-right: 5px;
				font-size: 13px;
				line-height:19px;
				background: transparent;
				.fa{
					color:#bebdbd;
					font-size: 18px;
				}
			}
			&:last-child{
				a{
					margin-right: 0;
				}
			}
		}
	}
}

.author-about{
	margin-bottom: 30px;
	.avatar-img{
		float: left;
		margin-bottom: @post-author-avatar-margin;
		margin-right: @post-author-avatar-margin*4;
		img{

		}
	}
}

.comment-reply-title{
	display: none;
}

/* Comment List */
.commentlists{
	border-bottom: 1px solid @comment-list-border-color;
	padding-bottom: @comment-list-padding ;
	margin-bottom: @comment-list-margin ;
	ul{
		list-style: none;
	}
	.the-comment{
		border-top: 1px solid @comment-list-border-color;
		padding-top: @comment-list-padding ;
		margin-top: @comment-list-margin ;

		.comment-box{
			margin-left: 70px;
			>div{
				margin-bottom: 10px;
			}
			.comment-action{
				a{
					color:@text-color;
					display: inline-block;
					margin-left: 10px;
					&:hover{
						color:@link-color;
					}
				}
			}
		}
		p{
			margin:0;
		}
	}
	div.avatar{
		float: left;
		margin-right:@comment-list-avatar-margin;
		img{
			.border-radius(500px);
		}
	}
	.comment-author{
		
	}

	.children{
		padding-left: 70px;
	}
}


// Contact Form
//---------------------------------------

.pgl-contact{
    margin-top: @margin-base-horizontal*2;
}
.contact-form-content{
    padding: @theme-padding;
    border: 1px solid @theme-color-border;
    margin-bottom: @theme-margin;
    min-height: 260px;
    .rounded{
        display: table;
        color: @white;
        text-align: center;
        .size(40px,40px);
        background: darken(@body-bg, 20%);
        .fa{
            display: table-cell;
            vertical-align: middle;
            font-size: 16px;
        }
    }
    small{
        color: darken(@text-color, 20%);
    }
}

// Category-Blogs
//---------------------------------------

.post-container{
    padding-bottom: @padding-large-horizontal*2;
    margin-bottom: @margin-base-horizontal*3;
    border-bottom: 1px solid @theme-color-border;
    .name-cat{
        border-bottom: 1px solid @theme-color-border;
        padding:0 0 @padding-large-horizontal;
        margin-bottom: @margin-base-horizontal*2;
        margin-top: 0;
        color: @theme-color-default;
    }
    .post-thumb{
        img{
            width: 100%;
            max-height: 468px
        }
        overflow: hidden;
        .carousel-control{
            background-repeat: no-repeat;
            .size(31px,70px);
            top: 45%;
            span{
                .opacity(0);
            }
        }
        .left.carousel-control{
            background-image: url('@{image-theme-path}arrow-left.png');
            background-position: left 0;
            &:hover{
                background-position: left -73px;
            }
        }
        .right.carousel-control{
            background-image: url('@{image-theme-path}arrow-right.png');
            background-position: right 0;
            &:hover{
                background-position: right -73px;
            }
        }
    }
    .readmore {
        margin-top: @margin-base-horizontal*2;
    }

    .entry-title{
        a{
            color: @theme-color-default;
            &:hover{
                color: @theme-color-secondary;
            }
        }
    }
}

#pgl-mainbody{
    .tparrows{
        background: #333333;
        bottom: auto;
        color: white;
        height: 50px;
        margin-top: -25px;
        text-shadow: none;
        top: 50%!important;
        width: 50px;
        font-family: FontAwesome;
        line-height: 50px;
        font-size: 20px;
        text-align: center;
        .transition(all 300ms);
        &:hover{
            background: @main-color;
        }
    }
    .tp-leftarrow{
        &:before{
            content:"\f104";
            
        }
    }
    .tp-rightarrow{
        &:before{
            content:"\f105";
        }
    }
    .tp-bullets.simplebullets.round{
        .bullet{
            .size(12px,12px);
            background: #111;
            .opacity(0.5);
            border: 1px solid #868686;
        }
        > .bullet.selected,
        > .bullet:hover{
            .opacity(1);
        }

    }
}


// Footer
//---------------------------------------
.pgl-footer{
    margin-top: 30px;
    .post-widget,.comment-widget{
        article{
            padding-bottom: 20px;
            border-bottom: 1px solid #333333;
            &:last-child{
                border:0;
                margin: 0;
                padding: 0;
            }
            img{
                .size(90px,90px);
            }
            a{
                color:#ddd;
                &:hover{
                    color:@link-color;
                }
            }
            .post-date{
                color:#666;
            }
        }
    }
    a{
        color:#999999;
        &:hover{
            color:@link-color;
        }
    }
    .footer-about{
        p{
            margin-bottom: 20px;
        }
        span.icon{
            .size(34px,34px);
            .border-radius(500px);
            background: @main-color;
            color:#fff;
            line-height: 34px;
            text-align: center;
            margin-right: 20px;
            float: left;
        }
        span.content{
            line-height: 20px;
        }
    }
    .free-shipping{
        background: #272727;
        min-height: 70px;
        width: 100%;
        padding-top: 15px;
        margin: 5px 0 25px 0;
        &:last-child{
            margin-bottom: 0;
        }
        span.icon{
            float: left;
        }
        .fa{
            background: none;
            border-radius: 0;
            font-size: 30px;
            color: #999;
            padding-left: 40px;
            width: auto;
            height: auto;
            margin-right: 20px;
        }
        strong{
            font-size: 1.230em;
        }
        .end{
            font-size: 0.923em;
        }
    }
    address{
        a{
            color:#ddd;
            &:hover{
                color:@link-color;
            }
        }
    }
    .widget{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 15px;
            }
        }

        img{
            max-width: 100%;
        }

        select{
            width:100%;
        }

        table{
            th,
            td{
                border: 1px solid #333;
                text-align: center;
                color: #666;
                line-height: 32px;
                a{
                    color:@link-color;
                }
            }
        }

        .menu{
            .sub-menu{
                padding-left: 20px;
            }
            >li{
                >a{
                    &:before{
                        content:"";
                        border:3px solid transparent;
                        border-left-color: #999;
                        display: inline-block;
                        padding-left: 5px;
                    }
                }
            }
        }

        .tagcloud{
            a{
                color: @footer-color;
                background: none!important;
                .transition(all 500ms);
                font-size: 1em!important;
                &:hover{
                    background: none;
                    border: 1px solid @theme-color-secondary;
                    color: @footer-color;
                }
            }
        }
    }
}


.block-subcribe{
    label{
        line-height: 49px;
        font-weight: 700;
        font-size:1.534em;
        text-transform: uppercase;
    }
    .input-group{
        padding: 0 30px;
    }
    .form-control{
        border:0;
    }
    .btn-primary{
        background: #86baa5;
        border-left: 0;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 4px;
        border:0;
        &:hover{
            background: darken(#86baa5, 10%);
        }
    }
    p{
    	margin: 0;
    }

}

// Blog Layout
.post-area{
    article{
        margin-bottom: @theme-margin;
    }
}

// Portfolio
//----------------------------------
#portfolio{
    .portfolio-box{
        .item{
            .transition-duration(@portfolio-animate-duration);
        }
    }

    .portfolio-filters{

    }
}

// Testimonial
.pgl-testimonial{
    padding-bottom:40px;
    &.white{
        color:  #ffffff;
    }
    blockquote {
        .opacity(0.8);
        border-left: 0;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        p{
            font-size: 1em;
            line-height: 1.7;
        }
    }
    footer {
        padding: 30px 0 0;
        position: relative;
        .image{
            margin-right: 10px;
        }
        h5{
            margin-top: 0;
        }
        h5,span{
            .opacity(0.8);
        }
    }
}

.post-widget,.comment-widget{
    article{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
        img{
            .size(65px,65px);
            float: left;
            margin-right: @widget-post-margin*3;
        }
        h6{
            font-weight: @widget-post-title-font-weight;
            font-size:@widget-post-title-font-size;
            margin: 0px 0px 10px 0px;
        }
        p{
            font-size: 0.86667em;
            margin-bottom: 0;
        }
    }
}

.post-widget{
    article{
        &:first-child{
          padding-top: 0;
        }
        p{
            color: lighten(@theme-color-default , 60%);
        }
    }
    h6{
        max-height: 65px;
        overflow: hidden;
        line-height: 20px;
        a{
            color: @theme-color-default;
            font-weight: 600;
            font-size: @font-size-base;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    
}

.flickr-gallery{
    img{
        float: left;
        width:@widget-image-size;
        height: @widget-image-size;
        padding:3px;
    }
}


// Page Error 404
//---------------------------------------

.error404{
    .page_not_found{
        background: #fafafa;
        padding: @padding-large-vertical*6 0;
        h1{
            text-transform: uppercase;
            font-size:60px;
            margin-bottom: @margin-base-horizontal*2;
            font-weight: 700;
        }
        .icon-404{
            color:#e5e5e5;
            font-size: 144px; /* Approximation due to font substitution */
            font-weight: 400;
            line-height: 0.125; 
        }
        .button-return{
            margin-top: 30px;
        }
    }
    #searchform{
        margin-top: @margin-base-vertical*2;
    }
}
