/**
 * --------------------------------------------------------------------------------
 * 6.0 - Footer
 * --------------------------------------------------------------------------------
 */

 .footer-top{
    background: @main-color;
    color:#fff;
    padding: 20px 0;
    .social-networks{
        margin: 5px 0 0;
        text-align: right;
        li{
            a{
                .size(40px,40px);
                font-size: 16px;
                line-height: 40px;
                padding: 0;
                background: #fff;
                .fa{
                    color:#86baa5;
                }
                &:hover{
                    background: #55acee;
                    .fa{
                        color:#fff;
                    }
                }
            }
            &.facebook{
                a:hover{
                    background: #3c5b9b;
                }
            }
            &.google-plus{
                a:hover{
                    background: #dd4b39;
                }
            }
            &.instagram{
                a:hover{
                    background: #2a688f;
                }
            }
            &.flickr{
                a:hover{
                    background: #f54f91;
                }
            }
        }
    }
}

.footer-content{
    padding: 50px 0 0;
    background: #222;
    color:#999999;
    margin-bottom: 0;
    .widget-title{
        color:#fff;
        span:after{
            display: none;
        }
    }
}
.footer-copyright{
    background: #111;
    padding: 15px 15px 8px;
    color:#999999;
    font-size: 0.923em;
    a{
        color:@main-color;
        &:hover{
            color:@link-hover-color;
        }
    }
}