/**
 * --------------------------------------------------------------------------------
 * 3.0 - Header
 * --------------------------------------------------------------------------------
 */

 #header-topbar{
    background: #f1f1f1;
    padding: 15px 0;
}
 #pgl-header{
    background-image: none;
    position: relative;
    z-index: 100;
    &.header-style2{
        .logo{
            text-align: center;
        }
        .header-content{
            padding-bottom: @grid-gutter-width;
            >.container{
                position: relative;
            }
            .absolute{
                position: absolute;
                top:50%;
            }
            .absolute-right{
                right: 0;
                margin-top: -19px;
            }
            .absolute-left{
                left: 0;
                margin-top: -12px;
            }
        }
    }
    .header-content{
        .header-content-inner{
            position: relative;
            .content-navigation{
                position: static;
                #pgl-mainnav{
                    position: static;
                }
            }
        }
        padding-top: @grid-gutter-width;
        .logo{
            margin-bottom: 30px;
            img{
                max-height: 100px;
            }
        }
        .search-form{
            margin-bottom: 30px;
            >[class*="pull-"]{
                width: 270px;
            }
            .form-control{
                background: #f1f1f1;
                border:0;
            }
            .pgl-search{
                .fa{
                    color:#cccccc;
                }
            }
        }
        .shoppingcart{
            position: relative;
            z-index: 1007;
            >a{
                padding: 10px 15px;
                margin-left: 30px;
                background: #333333;
                font-weight: 700;
                color:#fff;
                text-transform: uppercase;
                .count{
                    color:@main-color;
                }
            }
        }
        .dropdown-menu{
            z-index: 1006;
            text-align: left;
        }
    }
    .header-menu{
        margin-top: -25px;
        margin-bottom: 15px;
        .megamenu{
            text-align: center;
            >li{
                >a{
                    span,.fa{
                        color:@text-color;
                    }
                }
                *{
                    text-align: left;
                }
                .pgl-count-down{
                    span{
                        text-align: center;
                    }
                }
            }
        }
    }
}
.header-sticky{
    position: fixed;
    height: 60px;
    top:-60px;
    left:0;
    width: 100%;
    z-index: 999;
    &.fixed{
        top:0;
        .transition(top 0.8s);
    }
    .map_canvas{
        display: none;
    }
    .header-sticky-inner{
        background: #fff;
        .box-shadow(0 6px 6px -6px rgba(0, 0, 0, 0.5));
        .pgl-megamenu {
            float: right;
            .megamenu > li > a span,.megamenu > li > a .fa{
                color:@text-color;
            }
            .off-canvas-toggle{
                display: none!important;
            }
        }
        .sticky-action{
            margin-top: 0;
        }
    }
    .logo{
        max-height: 60px;
        img{
            max-height: 50px;
            padding-top: 5px;
        }
    }
}

.header-style2{
    .header-mainmenu{
        background: #333333;
    }
    .pgl-megamenu{
        .megamenu{
            text-align: center;
            > li {
                border-right: 1px solid #444;
                margin-right: -2px;
                &:first-child{
                    border-left: 1px solid #444;
                }
                >a{
                    padding: 20px!important;
                    color:#fff;
                    &:hover{
                        color:@main-color;
                    }
                }
                &.current-menu-item,&.current-menu-parent,&.current-menu-ancestor,&:hover{
                    background: darken(#333, 10%);
                }
            }
        }
    } 
}

.pgl_search{
    position: relative;
    &:hover{
        .fa{
            color: @theme-color-secondary;
        }
    }
    .fa{
        position: absolute;
        right: 10px;
        line-height: 30px;
        color: @text-color;
        top: 0;
        z-index: 1;
    }
    input{
        background-color: transparent;
        color: @theme-color-default;
    }
    input[type="text"]{
        background-color: @white;
        .border-radius(0px);
    }
    > input[type="submit"] {
        border: medium none;
        .size(30px,30px);
        position: absolute;
        right: 0;
        text-indent: -99px;
        top: 0;
        z-index: 99999;
    }
}