@charset "utf-8";


/* universal Styles */
.container-fluid{
	padding:0;
}
body{
	font-size:14px;
	font-family: "Roboto", sans-serif;
	color: #a7a8a8;
	font-weight:400;
	position:relative;
}

body a{
	color:#4e4f4f;
}

h1, h2, h4{
	text-transform:uppercase;
}
h1{
	font-size:24px;
	margin: 0;
	padding: 10px 0;
}
h2{
	font-size:22px;
}
h3{
	font-size:18px;
}
h4{
    font-size: 16px;
}
h5{
	font-size:14px;
	text-transform:uppercase;
}
img{
	max-width:100%;
}

/* Bottom Margin after row */
.btm-space{
	margin-bottom:30px;
}

/* Hover Styles */
body a:hover, .navbar ul.nav li a:hover, .navbar-default .navbar-nav .dropdown>.open>a:hover, .pagename .dropdown-menu a:hover{
	text-decoration:none;
	color:#a7a8a8;
}
#mainnavbar .dropdown-menu img:hover, .models img:hover, #quick-links a img:hover, .color-option img:hover{	
	opacity:.7;
}

/* Span Styles */
span.red{
	color: #FF0004;
}

span.blue{
	color: #045698;
}

/* Navbar Styles */
.navbar{
	border:none;
	margin-bottom:0;
}

.navbar-default.mainnavbar {
    background-color: #fff !important; 
}
nav.navbar.navbar-default.firstnavbar{
	background-color: #fff !important;
	padding-top:10px;
}
.navbar-brand{
	padding:0px;
}
#mainnavbar ul.nav.navbar-nav{
	margin-left:12px;
}
.navbar .nav li{
    padding-bottom: 10px;
}

.navbar .nav li a {
	color:#000000;
	font-size:15px;	
}
/*.container-fluid .navbar-text{
	position:fixed;
	top:20%;
	left:5px;
	z-index:99999;	
}
.navbar-text > a{
	color:inherit;
}*/
#mainnavbar ul.dropdown-menu.container{
	margin-left:-200px;
}
.navbar .nav.navbar-right li a {
	color:#000000;
	font-size:11px;
}
.full-width.dropdown {
    position: static;
}
.full-width.dropdown > .dropdown-menu {
    left: 0;
    right: 0;
    position: absolute;
}
.full-width.dropdown > .dropdown-menu > li > a {
   white-space: normal; 
}
.dropdown-menu a p{
	font-size:10px;
}
.navbar .nav .open>a, .navbar .nav .open>a:focus,.navbar-default .navbar-nav .dropdown>.open>a, .navbar-default .navbar-nav .dropdown>.open>a:focus, .navbar-default .navbar-nav .dropdown>.open>a:hover{
	background-color:transparent !important;
}
.multi-column {
	list-style: none;
  	margin: 0px;
  	padding: 0px;
}
.navbar .multi-column li a {
	display: block;
	clear: both;
	line-height: 1.128571429;
	color: #333;
	white-space: normal;
	font-size:12px;
}
.navbar .multi-column li:first-child {
    margin-left: 0px;
}
.divider{
	border-bottom:1px solid #CFCFCF;
}

/* Dropdown Button */
.pagename .dropdown{
	padding-top: 15px;
}
.pagename .dropdown-menu{
	margin: 0;
}


.fullscreen-bg {
	background-color:#000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg_video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

/* Home Page Styles */
.carousel-caption{
	bottom: 55px;
}
.carousel-caption h2 {
  display: inline-block;
  padding: 5px;
  /*background: #B9121B;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.carousel-caption h2 a{
  color: #fff
}
.carousel-caption h2 a:hover{
  color: #a7a8a8;
}

/* Model Page Styles */
.models li{
	float: left;
	width: 33.33%;
	padding: 0 15px;
}
.models li a p{
	text-align: center;
}
.pagename {
    border-bottom: 1px solid #dcdcdc;
	margin-bottom: 30px;
}
.model-text p{
	color: #000000;
}	
.num{
	font-size:28px;
}
.color-option{
	margin-bottom:30px;
}
.small {
    font-size: 75%;
}
.feature-img{
	margin-top:20px;
}
.btn-download{
	margin-top: 30px;
}
.btn-download a:hover {
	opacity: .8;
}

/* mynavbar Styles */
.bg-page-name {
    background-color: #ececec;
	margin-bottom:20px;
}
#sticky .navbar-default{
	border:none;
	border-color:transparent;
}
#sticky ul>li a{
	text-transform: uppercase;
  	font-size: 16px;
  	color: #4e4f4f;
  	text-align: center;
}
#sticky .navbar-default .navbar-nav>.active>a, #sticky .navbar-default .navbar-nav>.active>a:focus, #sticky .navbar-default .navbar-nav>.active>a:hover, .navbar-default.bg-page-name .navbar-nav>li>a:hover{
	background-color:transparent;
	border-bottom: 2px solid #000000;
}
#sticky .navbar-default .navbar-nav>li>a,#sticky .nav.navbar-right>li>a {
  	padding: 0px;
  	margin: 15px 115px 0 0;
}
#sticky .navbar-default .navbar-nav>li:last-child>a,#sticky  .nav.navbar-right>li:last-child>a {
	margin-right:0;
}
.scroll-area {
    height: 100%;
    position: relative;
    overflow: auto;
}
.scroll-area h3{
	text-transform:uppercase;
}
.stick {
    position: fixed;
    top: 0%;
    z-index: 10000;
    width: 100%;
}
.table>tbody>tr>td {
    padding: 12px 10px;
    text-transform: uppercase;
}
#overview, #technology, #gallery, #specification {
    margin: 40px 0;
}
sup{
	vertical-align:super;
	font-size:x-small;
}
.fa.fa-arrow-circle-down{
	margin-left:10px;
}

/* Promo Styles */
.promo{
	color: #464646;
}

/* Hover Overlay Styles */
.news-container{
	position:relative;
	margin-bottom:30px;
}
.news-title{
	background-color: #ececec;
	color: #000;
	padding:7px 10px;
	max-width:350px;
}
.news-title h5{
	line-height:18px;
}
.news_body{
  background: #ececec;
  bottom: 0;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 20px;
  max-width:350px;
}
.news_body:hover { opacity: 0.9; }
.news_body:after, .news_body:before{
	bottom:1em;
	opacity:0;
	text-transform:uppercase;
	position:relative;
	right:1em;
	top:1em;	
}
.news_body p{
	padding-top: 0;	
	color: #000;
}
.news_body h5{
	position:relative;
	line-height:20px;
	color: #000;
	margin-bottom:25px;
}
.read-more{
	margin-top: 25px;
}
.news_body h5:before{
	content:"";
	position:absolute;
	left:0px;
	bottom:-7px;
	width:10%;
	border-bottom: 3px solid #464646;
}


/* Forms Styles */
form, .map{
	margin-bottom:50px;
}
form label{
	font-weight:200;
}
.grey{
	background-color: #ececec;
}
.form-control{
	color: #a7a8a8;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0; 
}
.state, .select-model, .submit {
    padding: 7px 15px;
}
.submit{
	margin-left: 15px;
}
.g-recaptcha{
	margin-bottom:25px;
}

/* Dealer Page Styles */
.pagename h1.col-sm-11, .dealers-state, .dealers li, .dealer-list{
	padding-left:0;
}
.dealers h3{
	text-transform:uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
}
.dealers li{
	margin-bottom:20px;
}
.dealers-box{
	border: 2px solid #ececec;
	padding: 20px;
	height: 365px;
}
.dealer-list li{
	padding: 20px 5px 0;
}
.dealer-list li a{
	text-transform:uppercase;
}

/* Social Buttons Bar Styles */
.social-float {
	position:fixed;
	top:25%;
	right:0%;
	z-index:9999;
}
.social-float li{
	list-style-type:none;
	padding:10px;
	border:1px solid #4e4e4e;
	background-color:#dcdcdc;
	border-bottom:none;	
}
.social-float li:last-child{
	border-bottom:1px solid #4e4e4e;
}
.social-float li a{
	color:#464646;
}
.social{
	border-top: 2px solid #ececec;
	padding:5px;
	position:relative;
    margin-top: 60px;
}
.social-icon a{
	color:#dcdcdc;
}
.social-icon .fa-inverse{
	color:#464646;
}
.scroll-to-top{
	position: fixed;
    cursor: pointer;
    bottom: 1em;
    right: 0px;
    width: 55px;
    height: 55px;
    padding-right: 1em;
    display: none;
    z-index: 2147483647;
}


/* Quick Link Styles */
#quick-links, footer {
	background-color: #ececec;
    padding: 10px 0;
    margin-top: 5px;
}
#quick-links h4{
	color: #4e4f4f;
}
#quick-links li{
	float: left;
	width: 19.5%;	
}
#quick-links li a {
    text-transform: capitalize;
    font-size: 12px;
	line-height:20px;
    color:#a7a8a8;
}
#quick-links li a:hover {
	color: #4e4f4f;
}
#quick-links .lists li{
	width:100%;
	padding-bottom: 0;	
}
footer {
	clear:both;
	margin-top: 10px;
	border-top:1px solid #a7a8a8;
}


@media (max-width: 1199px)
{

/* Model Page Styles */
.btn {
    width: 150px;
}
#sticky .navbar-default .navbar-nav>li>a,#sticky .nav.navbar-right>li>a {
  	padding: 0px;
  	margin: 15px 75px 0 0;
}
/* Home Page Styles */
.carousel-caption{
	bottom: 10px;
	padding-bottom:0;
}

}

@media (max-width: 992px)
{
.navbar .nav li a {
    font-size: 13px;
}
.dropdown-menu a p {
    font-size: 8px;
}
/* Home Page Styles 
.carousel-caption{
	bottom: 10px;
	padding-bottom:0;
}*/
/* Model Page Styles */
.btn {
    width: 150px;
}
#mynavbar{
	display:none;
}
	

/* Footer Styles */
#quick-links h4{
    font-size: 15px;
}
#quick-links li a {
    font-size: 10px;
}
.req-text p.text-right{
	font-size:13px;
}
}



@media (max-width: 768px)
{
.home-img, .home-menu{
	display:block;
}	

/*.navbar .nav.navbar-right li a, */
#mainnavbar ul.dropdown-menu.container{
	margin-left:-15px;
}
.navbar-default .navbar-nav>li>a, .nav.navbar-right>li>a, .home-menu li a, ul.nav.navbar-nav.text-uppercase.navbar-right li a{
  font-size:14px;
  text-transform:uppercase;
}
ul.dropdown-menu li:last-child{
	border: none;
}
.home-menu li{
  padding: 20px 0;   
}
.navbar-collapse li, .home-menu li{
	border-bottom:1px solid #ececec;
}
.navbar-collapse .navbar-right li:last-child{
	border-bottom:none;
}
.full-width.dropdown > .dropdown-menu {
    left: 0;
    right: 0;
    position: absolute;
    background-color: #fff;
}
.home-menu li{
	padding:10px;
}

/* Home Page Styles */
.carousel-caption{
	bottom: 5px;
	padding-bottom:0;
} 

.models li{
	width: 100%;
}

/* Models Page */
.btm-space{
	margin-bottom:0px;
}
.btn-download{
	margin-bottom:30px;
}

.news-title{
	max-width:350px;
}

/* Dealers Page */
.map{
	margin-top:20px;
}

/* Form Styles */
.req-text p.text-right{
	text-align: left;
	font-size: 14px;
}
}
