@charset "utf-8";


/* universal Styles */

.container-fluid{
	padding:0;
}
body{
	font-size:12px;
}

body a{
	color:#000000;
}

/* Hover Styles */
body a:hover, .navbar .nav li a:hover, span.grey{
	text-decoration:none;
	color:#a7a8a8;
}
header li a:hover,.col-sm-5 ul li a:hover{
	color:#000000;
}
.model:hover, .news img:hover{
	opacity:0.4;
}
.news .access-hero-container img:hover{
	opacity:1;
}

/* Header Styles */
.bg-info, .btn-default{
	background-color:#ececec;
}
header li a{
	text-decoration:none;
	color:#a7a8a8;
}



/* Navbar Styles */
.navbar{
	border:none;
	margin-bottom:0;
}
.navbar-default{
	background-color:transparent;
}
.navbar-brand{
	padding:0px;
}
.navbar .nav li a {
      padding:30px 0 0 30px;
	  color:#000000;
	  font-size:14px;
}
.container-fluid .navbar-text{
	position:fixed;
	top:20%;
	left:5px;
	z-index:99999;
	
}
.navbar-text > a{
	color:inherit;
}


/* Index Page Styles */
.hero{
	margin-top:20px;
}
.tiles{
	margin-top:40px;
}


/* Model Page Styles */
.page-name{	
	border-bottom: 1px solid #dcdcdc;
}
.model a p{
	color:#a7a8a8;
}
.btn-model{
	margin-top:25px;
}
.btn-model a{
	padding:5px;
	color: #a7a8a8;
	text-align:left;
}
	
.btn-model a:hover{
	color:#000000;
}
.glyphicon-arrow-down{
	font-size:14px;
}
.btn-model .btn{
	border:none;
	border-radius:0;
	background-color:#ececec;
	width:150px;
}
/* Tab Styles */
.tabs > ul > li:first-child{
	margin-left: 30px;
}
.tabs > ul > li{
	float:left;
	font-size: 9pt;
	text-transform: uppercase;	
	text-align: center;
	border: 1px solid #dcdcdc;
	margin-right:5px;
}	
.tabs > ul > li > a{
	color:#a7a8a8;
	padding: 5px 20px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	background-color:#ececec;
	color:#a7a8a8;
	margin-right:0px;
	border-radius:0px 0px;
}
.tabs > ul > li > a:hover{
	border-radius:0px;
}
.tab-content{
	margin-top:30px;
	margin-left:30px;
}
.tab-pane h4{
	color:#a7a8a8;
}


/* Table Styles */
.table {
	border: 1px solid #dcdcdc; 
}
.table>tbody>tr>td{
	border-top:none;
	padding: 5px 0 10px 26px;
}
td {
	
}
td.col1 {
	width: 20%;
}

/* Menu-2nd Styles */
.col-sm-12, .menu-2nd .list-inline li{
	padding-left:0px;
	padding-right:0px;
}
	 
.menu-2nd{
	padding: 10px 0;
	border-bottom: 1px solid #dcdcdc; 
	position:relative;
}

.menu-2nd ul{
	margin-bottom:0px;
	margin-top:auto;
}

.menu-2nd ul li {
	margin-right: 10px;
}

.menu-2nd ul li:last-child {
	margin-right: 0;
}

.menu-2nd a{
	text-transform: uppercase;
	font-size: 9pt;
}


/* Menu-2nd dealers Styles */

.dealers ul li {
	margin-right: 54px;
}

.dealers ul li:last-child {
	margin-right: 0;
}

/* Menu-2nd triangle indicator Styles */
#active a:before {
	content: "";
	position: absolute;
	border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #dcdcdc;
	height: 0;
    width: 0;
	padding-top: 22px;
	margin-left: 7%;
	/*margin-right: 60%;*/
}

/* Testride Page Styles */
.no-menu, .map{
	margin-top:40px;
	margin-left:-15px;
	margin-right:-15px;
}

.testride{
	margin: 0 auto;
	border: 1px solid #dcdcdc; 
	padding: 54px;
	color:#a7a8a8;
}	

.modelgrey, textarea{
	background-color: #ececec;
	border: none;
	margin-bottom: 15px;
	width:70%;
	height:30px;
}

textarea{
	height:150px;
}

.form-group input{
	background-color: #ececec;
	border: none;
	margin-bottom: 15px;
}

/* Dealers Page Styles */
.map{
	height:500px;
}

/* News Styles */
.news, .promo{
	position: relative;
	margin-bottom: 40px;
}

.corner {
    position: absolute;
	left: 285px;
	top: 158px;
}

.title, .offer {
	margin-top:10px;
	padding: 10px; 
	background-color: #ececec;
	height: 130px;
	overflow: hidden;	
}
.news a:link, .news a:visited{
    color: #000000;
}

/* Accessories Page Styles */
.access {
	width:100%;
	height:188px;
	overflow: hidden;
	display: block;
	border: 1px solid #dcdcdc; 
	margin-bottom: 10px;
}
.offer{
	height:50px;
}
.access-info ul, .scroll ul{
	list-style:inside circle;
}
.btn{
	margin-top:5px;
}



/* Promo Page Styles */
.promo-info{
	margin-top:40px;
}

.promo-info p{
	font-size:12px;
}

/* Quick Link Styles */
#quick-links {
	background-color: #ececec;
	min-width: 100%; 
	margin-top: 50px;
}

.col-sm-5{
	position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
	width: 20%;
    float: left;
	padding-bottom: 15px;
}
.col-sm-5 ul li a {
	color: #a7a8a8;
	font-size: 8pt;
}
h5 {
	color: #a7a8a8;
	font-size: 9pt;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom:0;
	text-decoration: none;
	font-weight: bold;
}
#quick-links .col-sm-5 a img {
	padding-right: 4px;
	padding-top: 8px;
}


/* Footer Styles */
.navbar-text{
	margin-left:0px;
	margin-right:0px;
}
footer{
	background-color:#ececec;
}
.footer{
	border-top:1px solid #a7a8a8;
}

/* TEST PAGE STYLES */

.wrap{margin:0 auto 0;
}
.grey-bar{
	background-color:#4d4d4d;
}
.grey-bar h3{
	text-align:center;
	color:#ffffff;
	margin-top:10px;
}
.2nd-nav{
	float:right;
}

.dropdown-menu>li>a{
	color:#ececec;
	font-size:12px;
}
	
.dropdown-menu{
	text-transform: uppercase;
	background-color: #4D4D4D;
	margin:0px 0px;
	border-radius:0px 0px;	
	box-shadow:0px 0px;
	padding-top:0px;
	padding-bottom:0px;
}
.btn{
	margin-top:0px;
	border-radius:0px 0px;	
}
.dropdown-menu .divider{
	margin:0px 0px;
}
.model-right{
	margin-top:50px;
}

.btn-group.coloropt{
	margin-top:250px;
	float:right;
}

.btn-black{
	background-color:#000000;
	border-color:transparent;
	padding:15px;
	margin-right:5px;
}
.btn-grey{
	background-color:#4d4d4d;
	border-color:transparent;
	padding:15px;
}
.btn-black.active, .btn-black:hover{
	background-color:#000000;
}
.btn-grey.active, .btn-grey:hover{
	background-color:#4d4d4d;
}
.light-grey{
	background-color:#ececec;
}
.download-btn{
	background-color:#D4D4D4;
	padding:0px 0px;
}
.download-btn p{
	margin-bottom:0px;
}
.test{
	padding-right:0px;
	}
.newarrow{
	background-color:#FF0004;
	padding:15px;
	top:0px;

}
.white{
  color: #fff;
}
.well{
	background-color:#fff;
}
/* END OF TEST PAGE STYLES */




/* Mobile Only Styles */
.mobile-only{
	display:none !important;
}

/* Landscape phones and down */
@media (max-width: 480px) {
nav{
	margin-top:10px;
}

.mobile-only{
	display:block !important;
}
.modelgrey, textarea{
	width:100%;
}
}